{% extends "index/base.html" %}
{% block title %}Mercedes-Benz{% endblock title %}
{% load static %}
{% block content %}

    <!-- Banner -->
    <div class="banner banner-cover">
        <div class="banner-container ">
            <!--se puede poner un h1 encima de la imagen -->
            <a class="btn btn-default">Comprar Mercedez-Benz </a>
        </div>
    </div>


    <!-- Sección de fotografías -->
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-full-mobile">
                <div class="columns is-centered is-mobile is-multiline">
                    <!-- 1 Sección de fotografías -->
                    <div class="column is-half column-full">
                        <div class="card">
                            <span class="price">DESDE: COP 812.900.000*</span>
                            <img src="{% static 'img/mercedez1.png' %}" alt="mercedez1.png">
                            <div class="card-info">
                                <h4 class="has-text-black has-text-centered has-text-weight-bold"> Mercedes-Benz
                                    Maybach GLS $812.900.000 </h4>
                                <p class="has-text-centered">Su diseño encarna el lujo más exclusivo.
                                    La elegancia característica del sello Maybach se alía con la 
                                    contundencia y el dominio de una SUV.
                                    </p>
                                <div class="card-buttons">
                                    <a href="#" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-shopping-cart"></i></a>
                                    <a href="#" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-favorite-outline"></i></a>
                                    <a href="producto.html" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column column-full is-half">
                        <div class="card">
                            <span class="price">DESDE: COP 689.900.000*</span>
                            <img src="{% static 'img/mercedez2.png' %}" alt="mercedez2.png">
                            <div class="card-info">
                                <h4 class="has-text-black has-text-centered has-text-weight-bold">
                                     Mercedes-Benz EQS 
                                      $689.900.000 </h4>
                                <p class="has-text-centered">El Mercedes EQS encarna el progreso en 
                                    su forma más exclusiva: Silueta con aire de coupé, hombros musculosos
                                     y una reducción de las líneas de la carrocería.

                                </p>
                                <div class="card-buttons">
                                    <a href="#" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-shopping-cart"></i></a>
                                    <a href="#" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-favorite-outline"></i></a>
                                    <a href="producto.html" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-full">
                        <div class="card">
                            <span class="price">DESDE: COP 328.900.000*</span>
                            
                                <img src="{% static 'img/mercedez3.png' %}" alt="mercedez3.png">
                            <div class="card-info">
                                <h4 class="has-text-black has-text-centered has-text-weight-bold"> Mercedes-Benz 
                                    EQB $328.900.000 </h4>
                                <p class="has-text-centered">El EQB interpreta el lujo progresivo de línea
                                     eléctrica de Mercedes-Benz de manera vanguardista. Presenta la parrilla 
                                     de panel negro con estrella central y la franja de luz continua en la parte
                                      delantera y trasera.</p>
                                <div class="card-buttons">
                                    <a href="#" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-shopping-cart"></i></a>
                                    <a href="#" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-favorite-outline"></i></a>
                                    <a href="producto.html" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Segunda sección de fotografías -->
            <div class="column is-half is-full-mobile">
                <div class="columns is-mobile is-multiline">
                    <div class="column is-full">
                        <div class="card">
                            <span class="price">DESDE: COP $469.900.000*</span>
                                <img src="{% static 'img/mercedez4.png' %}" alt="mercedez4.png">
                            <div class="card-info">
                                <h4 class="has-text-black has-text-centered has-text-weight-bold"> Mercedes-Benz
                                    EQE SUV $469.900.000 </h4>
                                <p class="has-text-centered">Las proporciones del EQE SUV combinan la funcionalidad y
                                     la estética con el carácter deportivo del SUV. El nuevo modelo, con su inconfundible 
                                diseño Purpose, marca un punto de inflexión en su clase.
                                </p>
                                <div class="card-buttons">
                                    <a href="#" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-shopping-cart"></i></a>
                                    <a href="#" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-favorite-outline"></i></a>
                                    <a href="producto.html" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column column-full is-half">
                        <div class="card">
                            <span class="price">DESDE: COP 419.900.000*</span>
                            <img src="{% static 'img/mercedez5.png' %}" alt="mercedez5.png">
                            <div class="card-info">
                                <h4 class="has-text-black has-text-centered has-text-weight-bold">Mercedes-Benz
                                    EQE $419.900.000 </h4>
                                <p class="has-text-centered">EQE destaca por su diseño deportivo y lujoso.
                                     Sus líneas elegantes con el Black Panel frontal, faros Led High Performance 
                                     y rines fusionados con la carrocería, le dan un carácter atlético</p>
                                <div class="card-buttons">
                                    <a href="#" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-shopping-cart"></i></a>
                                    <a href="#" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-favorite-outline"></i></a>
                                    <a href="producto.html" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column column-full is-half">
                        <div class="card">
                            <span class="price">DESDE: COP 318.900.000*</span>
                            <img src="{% static 'img/mercedez6.png' %}" alt="mercedez6.png">
                            <div class="card-info">
                                <h4 class="has-text-black has-text-centered has-text-weight-bold"> Mercedes-Benz
                                    EQA $318.900.000 </h4>
                                <p class="has-text-centered">EQA presenta un diseño frontal imponente y distintivo,
                                     con detalles como la parrilla Black Panel y las bandas luminosas, que aportan 
                                     un toque de lujo y permiten su identificación tanto de día como de noche.</p>
                                <div class="card-buttons">
                                    <a href="#" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-shopping-cart"></i></a>
                                    <a href="#" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-favorite-outline"></i></a>
                                    <a href="producto.html" class="btn btn--mini-rounded"><i
                                            class="zmdi zmdi-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container container-full">
    <div class="columns is-centered is-multiline">
        <div class="column is-full">
            <div class="separator"></div>
        <h1 style="text-align:center">Red de concesionarios y talleres autorizados</h1>  
        </div>
        <div class="column is-half-tablet is-one-third-desktop column-half">
            <div class="card card-second">
                <img class="card-second-image" src="{% static 'img/taller.png' %}" alt="taller.png">
                <div class="card-second-body --text-right">
                    <h1 class="has-text-right is-size-4 has-text-weight-semibold-bold">Sucursal Medellin</h1>
                    <p class="has-text-right">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Voluptatum labore quae reiciendis, corrupti debitis dicta
                    </p>
                    <div>
                        <a href="#" class="btn btn-default is-size-7">Ver ahora</a>
                    </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop column-half">
            <div class="card card-second">
                <img class="card-second-image" src="{% static 'img/taller.png' %}" alt="taller.png">
                <div class="card-second-body --text-right">
                    <h1 class="has-text-right is-size-4 has-text-weight-semibold-bold">Sucursal Bogota</h1>
                    <p class="has-text-right">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Voluptatum labore quae reiciendis, corrupti debitis dicta
                    </p>
                    <div>
                        <a href="#" class="btn btn-default is-size-7">Ver ahora</a>
                    </div>
                </div>
            </div>

        </div>

        <!--tercera sucursal -->
        <div class="column is-half-tablet is-one-third-desktop column-half">
            <div class="card card-second">
                <img class="card-second-image" src="{% static 'img/taller.png' %}" alt="taller.png">
                <div class="card-second-body --text-right">
                    <h1 class="has-text-right is-size-4 has-text-weight-semibold-bold">Sucursal Cali</h1>
                    <p class="has-text-right">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Voluptatum labore quae reiciendis, corrupti debitis dicta
                    </p>
                    <div>
                        <a href="#" class="btn btn-default is-size-7">Ver ahora</a>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
</div>
{% endblock content %}