<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/material-design-iconic-font.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>{% block title %}{% endblock title %}</title>
  </head>

  <body>
    <!-- Barra de navegación -->
    <header>
      <nav class="navbar-top">
        <ul class="navbar-top-ul">
          <!-- <li class="navbar-top-item">
                    <a href="login.html" class="navbar-top-links">Registro</a>
                </li> -->
          <li class="navbar-top-item">
            <a href="/iniciologin/" class="navbar-top-links"
              >Iniciar sesión</a
            >
          </li>
          <li class="navbar-top-item">
            <a href="#" class="navbar-top-links">
              <i class="zmdi zmdi-shopping-cart"></i> Carrito
              <!-- <i class="zmdi zmdi-chevron-down"></i> -->
            </a>
          </li>
        </ul>
      </nav>
      <nav class="navbar">
        <header class="nabvar-mobile is-size-5-mobile">
          <a class="navbar-mobile-link has-text-white" href="#" id="btn-mobile"
            ><i class="zmdi zmdi-menu"></i
          ></a>
          <a class="navbar-mobile-link has-text-white" href="/"
            >Concesionario Starniza</a
          >
          <a class="navbar-mobile-link has-text-white" href="#"
            ><i class="zmdi zmdi-shopping-cart"></i> Vacio</a
          >
        </header>
        <nav class="nav-menu" id="mySidenav">
          <form class="form-group" action="#">
            <div class="form-group-container">
              <span class="form-group-icon"
                ><i class="zmdi zmdi-search"></i
              ></span>
              <input
                type="text"
                class="form-group-input"
                placeholder="Buscar..."
              />
            </div>
          </form>

          <a
            class="is-hidden-mobile brand is-uppercase has-text-weight-bold has-text-dark"
            href="/"
            >Concesionario Starniza</a
          >
          <ul class="nav-menu-ul">
            <li class="nav-menu-item" id="men">
              <a class="nav-menu-link link-submenu active" href="#"
                >Automóvil <i class="zmdi zmdi-chevron-down"></i
              ></a>
              <div class="container-sub-menu">
                <ul class="sub-menu-ul">
                  <li class="nav-menu-item">
                    <ul class="sub-menu-ul">
                      <li class="nav-menu-item">
                        <a class="nav-menu-link" href="#">Maybach GLS</a>
                      </li>
                      <li class="nav-menu-item">
                        <a class="nav-menu-link" href="#">EQS</a>
                      </li>
                      <li class="nav-menu-item">
                        <a class="nav-menu-link" href="#">EQB</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="sub-menu-ul">
                  <li class="nav-menu-item">
                    <ul class="sub-menu-ul">
                      <li class="nav-menu-item">
                        <a class="nav-menu-link" href="#">EQE SUV</a>
                      </li>
                      <li class="nav-menu-item">
                        <a class="nav-menu-link" href="#">EQE</a>
                      </li>
                      <li class="nav-menu-item">
                        <a class="nav-menu-link" href="#">EQA</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-menu-item" id="women">
              <a href="#" class="nav-menu-link link-submenu"
                >Posventa <i class="zmdi zmdi-chevron-down"></i>
              </a>
              <div class="container-sub-menu">
                <ul class="sub-menu-ul">
                  <li class="nav-menu-item">
                    <ul class="sub-menu-ul">
                      <li class="nav-menu-item">
                        <a class="nav-menu-link" href="#"
                          >Servicio de colisión</a
                        >
                      </li>
                      <li class="nav-menu-item">
                        <a class="nav-menu-link" href="#"
                          >Servicio de mantenimiento</a
                        >
                      </li>
                      <li class="nav-menu-item">
                        <a class="nav-menu-link" href="#"
                          >Cotiza tu repuesto
                        </a>
                      </li>
                      <li class="nav-menu-item">
                        <a class="nav-menu-link" href="#"
                          >Accesoriza tu vehiculo
                        </a>
                      </li>
                      <li class="nav-menu-item">
                        <a class="nav-menu-link" href="#"
                          >Tratamiento de pintura GARDX
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-menu-item">
              <a href="brand.html" class="nav-menu-link">La Marca</a>
            </li>
            <li class="nav-menu-item">
              <a href="/iniciologin/" class="nav-menu-link">Iniciar Sesión</a>
            </li>
          </ul>
        </nav>
      </nav>
    </header>
    {% block content %}{% endblock content %}
    <footer class="footer">
      <div class="container">
        <div class="columns is-multiline">
          <div class="column">
            <ul class="footer-ul">
              <li class="footer-item">
                <h3 class="has-text-weight-bold">Información</h3>
              </li>
              <li class="footer-item">
                <a class="footer-link" href="#">La marca</a>
              </li>
              <li class="footer-item">
                <a class="footer-link" href="#">Local stores</a>
              </li>
              <li class="footer-item">
                <a class="footer-link" href="#">Servicios </a>
              </li>
              <li class="footer-item">
                <a class="footer-link" href="#">Privacidad y cookies</a>
              </li>
              <li class="footer-item">
                <a class="footer-link" href="#">Mapa del sitio</a>
              </li>
            </ul>
          </div>

          <div class="column">
            <ul class="footer-ul">
              <li class="footer-item">
                <h3 class="has-text-weight-bold">Porqué comprar</h3>
              </li>
              <li class="footer-item">
                <a class="footer-link" href="#">Envios y retornos</a>
              </li>
              <li class="footer-item">
                <a class="footer-link" href="#">Envios seguros</a>
              </li>
              <li class="footer-item">
                <a class="footer-link" href="#">Testimonios </a>
              </li>
              <li class="footer-item">
                <a class="footer-link" href="#">Award waining</a>
              </li>
              <li class="footer-item">
                <a class="footer-link" href="#">Etival trading</a>
              </li>
            </ul>
          </div>
          <div class="column">
            <ul class="footer-ul">
              <li class="footer-item">
                <h3 class="has-text-weight-bold">Tu cuenta</h3>
              </li>
              <li class="footer-item">
                <a class="footer-link" href="#">Iniciar sesión</a>
              </li>
              <li class="footer-item">
                <a class="footer-link" href="#">Registro</a>
              </li>
            </ul>
          </div>

          <div class="column">
            <ul class="footer-ul">
              <li class="footer-item">
                <h3 class="has-text-weight-bold">Datos de contacto</h3>
              </li>
              <li class="footer-item">
                <a class="footer-link" href="#">Celular: 313 8691012</a>
              </li>
              <li class="footer-item">
                <a class="footer-link" href="#">Página Web: www.starniza.com</a>
              </li>
            </ul>
          </div>
          <div class="column is-full">
            <div class="footer-socials">
              <a class="footer-solcials-link" href="#"
                ><i class="zmdi zmdi-facebook"></i
              ></a>
              <a class="footer-solcials-link" href="#"
                ><i class="zmdi zmdi-twitter"></i
              ></a>
              <a class="footer-solcials-link" href="#"
                ><i class="zmdi zmdi-instagram"></i
              ></a>
              <a class="footer-solcials-link" href="#"
                ><i class="zmdi zmdi-pinterest"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bar-top">
        <div class="container">
          <a class="footer-bar-top-links" href="#"
            >2023 Concesionario Starniza</a
          >
        </div>
      </div>
    </footer>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/ValidacionInicio.js' %}"></script>
  </body>
</html>
